@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.mainContainer{
    display: grid;
    grid-template-columns: 330px 1fr;
    grid-template-rows: 193px 1fr;
    background-color: blueviolet;
    height: 100vh;
    column-gap: 0;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: auto auto 1fr;
    align-content: start;
    gap: 30px;
    height: 100%;
    background-color: #1892d3;
    padding-left: 25px;
    margin-right: 0;
    padding-right: 0;
}

p{
    margin: 0;
    padding: 0;
}
.icon{
    width: 22px;
    height: 22px;
    align-self: center;
}

.side-title{
    margin-top: 10px;
    color: white;    
    grid-template-columns: repeat(2, 55px);
    align-items: center;
    height: 60px;
}

.dashboard-icon{
    width: 45px;
    height: 45px;
}
.dashboard-title{
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding-left: 10px;
    margin: 0;
}


.side-element, .side-title{
    display: grid;
    grid-template-columns: repeat(2, 40px);
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.sidebar-content-1{
    padding-left: 10px;
    margin-top: 14px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
}
.sidebar-content-2{
    padding-left: 10px;
    padding-bottom: 430px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-top: auto;
}

.sidebar-text{
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.dashboard-title, .sidebar-text {
    margin: 0; 
}

.header{
    background-color: white;
    position: relative;
    grid-column: 2/3;
    width: 100%;
    grid-row: 1/2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.top-header{
    padding-top: 15px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 85px
}

.searchBar{
    display: flex;
    align-items: center;
    gap: 20px;
}
input{
    width: 660px;
    height: 30px;
    background-color: #e1e8f0;
    border: 1px solid #e1e8f0;
    border-radius: 20px;
}
.right-icon-options{
    display: flex;
    align-items: center;
    gap: 32px;
}
.icon-bell{
    width: 25px;
    height: 25px;
}

.mini-profile-picture, .profile-picture{
    height: 55px;
    width: 55px;
    border-radius: 50px;
}
.top-header-name{
    font-size: 20px;
    font-weight: 700;
}

.bottom-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 25px;
    padding-left: 50px;
    gap: 210px;
}

.welcome-user{
    display: flex;
    align-items: center;
    gap: 25px;
    padding-top: 2px;    
}

.profile-picture{
    height: 80px;
    width: 80px;
}
.welcome-message{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 15px;
    font-weight: 700;
}
.welcome-name{
    font-size: 26px;
}

.right-actions{
    display: flex;
    padding-top: 5px;
    padding-left: 24px;
    gap: 30px;
}
.header-buttons{
    background-color: #1892d3;
    width: 110px;
    height: 44px;
    color: white;
    font-weight: 700;
    font-size: 17px;
    border: none;
    border-radius: 22px;
    cursor: pointer; 
    margin: 0;
    display: inline-block; 
}


.content{
    background-color: #e1e8f0;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    padding-top: 35px;
    padding-bottom: 60px;
}
.mainContent{
    grid-column: 1/2;
    padding-left: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 12px;
}
.content-title{
    font-size: 22px;
    font-weight: 550;
}
.mainContent-projects{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 25px;
    row-gap: 35px;
}
.project{
    border-left: 9px solid rgb(252, 170, 17);
    border-radius: 9px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 400px;
    height: 230px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: space-between;
}

.project-text{
    justify-self: start;
    align-self: center;
    padding-left: 25px;
    padding-top: 30px;    
    display: grid;
    grid-template-rows: auto auto;
    gap: 5px;
}
.project-title{

    font-weight: 700;
    font-size: 20px;
}
.project-details, .project-details-2{
    color: #626262;
    width: 325px;
    font-size: 17px;
}
.project-details-2{
    width: 350px;
}
.project-icons{
    display: flex;
    justify-self: end;
    align-items: end;
    gap: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
.p-icon{
    width: 25px;
    height: 25px;
}


.sideContent{
    grid-column: 2/3;
}

.sideContent-1{
    display: grid;
    grid-template-rows: auto auto;
    gap: 15px;    
}

.sideContent-elements{    
    padding-top: 35px;
    padding-left: 30px;
    padding-bottom: 10px;      
    background-color: white;     
    display: flex;
    flex-direction: column;
    border: 1px solid white;    
    border-radius: 8px;
    width: 245px;
    gap: 20px;
}

.annoncement-details{
    display: grid;
    grid-template-rows: auto auto;
    justify-self: flex-end;
}
.announcement-title{
    font-weight: 700;
    font-size: 15px; 
    padding-bottom: 5px;  
}
.announcement-text{
    color: #626262;
    width: 210px;
    font-size: 12px; 
    padding-bottom: 20px;
    border-bottom: 1px solid #626262;
}
.announcement-text-final{
    border-bottom: none;
}


.special-pic{
    border: 1px solid black;
}
.trend-picture{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.sideContent-2{
    padding-top: 40px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

.trending-container{
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 25px;
    background-color: white;
    border-radius: 8px;
    width: 260px;
    padding-bottom: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);   
}

.trending-topic{
    display: flex;
    gap: 20px;
    align-items: center;
}

.trend-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trend-title{
    font-size: 16px;
    color: black;
}

.trend-text{
    font-size: 14px;
    color: #626262;
}